{% load i18n future pages_tags common_tags staticfiles %}

{% spaceless %}
{% if page_branch_in_menu %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
  {% for page in page_branch %}
  {% if page.is_current_or_ascendant %}
  {% folding_fan page.title %}
  <li class="
    {% if page.is_current %} active{% endif %}
    {% if page.is_current_or_ascendant %} active-branch{% endif %}
    " id="tree-menu-{{ page.html_id }}">
    {# wrap the next line with 'if page.is_current_or_ascendant' #}
    {# to only show child pages in the menu for the current page #}
    {% if page.has_children_in_menu %}
      {% page_menu page "common/menus/tree_level_2.html" %} 
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
{% endspaceless %}
