{% extends "base.html" %}
{% load i18n keyword_tags future mezzanine_tags blog_tags common_tags %}

{% block meta_title %}{% if article %}{{article.title}}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for article as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ article.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable article.title %}{{ article.title }}{% endeditable %}
{% endblock %}

{% block main %}

{% block blog_post_detail_featured_image %}
{% if settings.BLOG_USE_FEATURED_IMAGE and article.featured_image %}
<p><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail article.featured_image 600 0 %}"></p>
{% endif %}
{% endblock %}

{% block blog_post_detail_content %}
{% editable article.content %}
{{ article.content|richtext_filters|safe }}
{% endeditable %}
{% endblock %}

{% block blog_post_detail_keywords %}
{% keywords_for article as tags %}
{% if tags %}
{% spaceless %}
<ul class="list-inline tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% endblock %}
