{% extends "layout.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block content %}
<div class="container">
<br />
<br />
<div class="row">

<div class="hidden-xs col-md-3 left">
    {% block left_panel %}
    <div class="panel panel-default tree" style="background-color: #948A54; min-height:550px;">
        {% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-9 middle">
    {% block main %}{% endblock %}
</div>

</div>
</div>
{% endblock %}  
