{% extends "layout.html" %}
{% load staticfiles common_tags i18n future pages_tags %}

{% block content %}    
    <section id="main-slider" class="no-margin">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="3"></li>
                <li data-target="#main-slider" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(static/images/slider/01.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1" style="margin-top:-120px;">靈軒啥 功及靈學工作室</h2>
                                <p class="animation animated-item-2">氣功傳授及療法 靈量傳授及療法 占卜問卦 靈界事件處理</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(static/images/slider/02.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">固本培元 養生保健 促進代謝 活血壯顔</h2>
                                    <p class="animation animated-item-2">尤適宜 長者、上班族、不易劇烈活動者、久病初愈及術后康復人仕</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(static/images/slider/03.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1" style="margin-top:-100px;">靈性導引 能量傳授 入世修行</h2>
                                    <p class="animation animated-item-2">
                                    身心靈修持 智慧導引 潛能啓動與開發 靈類接觸 法門傳授                                
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(static/images/slider/04.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1" style="margin-top:-150px;">靈道佔算 掌握先機</h2>
                                    <p class="animation animated-item-2">事業 姻緣 靈異事件 其他疑難 婚慶擇日 小兒取名 成人改名 夢境解析 前世今生</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(static/images/slider/05.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                <h2 class="animation animated-item-1" style="margin-top:-50px;">靈道正法 加持開光</h2>
                                    <p class="animation animated-item-2">
                                    結緣法器，法式，飾物，護身符。主理神像開光，自來物品加持
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="services" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <!-- <i class="icon&#45;twitter icon&#45;md"></i> -->
                            <a target="_blank" href="http://tieba.baidu.com/f?kw=%C1%E9%B5%C0&fr=ala0">
                              <img src="{% static "images/services/tieba.jpg" %}" style="height:" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">百度 靈道吧</h3>
                            <p></p>
                            <p>靈道官方百度帖吧，旨在提供一片修行人的網路淨土。討論靈異靈修，人生哲理，修行筆記，宗教人文，社會科學等話題。</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-3 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <!-- <i class="icon&#45;twitter icon&#45;md"></i> -->
                            <a target="_blank" href="http://shop61036952.taobao.com/">
                              <img src="{% static "images/services/taobao.jpg" %}" style="height:" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">靈道法式 網店</h3>
                            <p></p>
                            <p>
靈道官方授權網店，結緣靈道加持之法器，法式，飾物，護身符，及提供自來物品的加持開光服務。具有除邪鎮煞,，驅邪鎮宅，護身保平安之功效。</p> 
                        </div>
                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <!-- <i class="icon&#45;twitter icon&#45;md"></i> -->
                            <a target="_blank" href="http://blog.sina.com.cn/nhs168">
                              <img src="{% static "images/services/blog.jpg" %}" style="height:" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">靈道靈軒 工作室</h3>
                            <p></p>
                            <p>靈道官方新浪博客，講解法科知識，分享法科經驗，講述靈道處理過的真實法科個案，討論人生哲理，講述修行心得，解答靈學疑問等。</p>
                        </div>
                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <!-- <i class="icon&#45;twitter icon&#45;md"></i> -->
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100003021950248&fref=ts">
                              <img src="{% static "images/services/facebook.jpg" %}" style="height:" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">擇罡師父 臉書主頁</h3>
                            <p></p>
                            <p>靈道傳承掌門 擇罡師父之facebook主頁，主要面向港澳台及海外人仕，分享法科經歷，講解靈異知識，討論靈異話題，解答靈異疑問。</p>
                        </div>
                    </div>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#services-->
    <section id="testimonial" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <img class="" src="{% static "images/couplet.jpg" %}" style="width:100%"/>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        {% index_page_posts %}
                        <!--div class="col-md-6">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->

    <section id="recent-works" class="alizarin">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>靈軒啥 掠影</h3>
                    <p>壇聚萬華超諸有 法鎮眾煞匯重光</p>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/01.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥　工作室正門
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥　工作室正門" href="{% static "images/portfolio/recent/01.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/02.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥 導師工作區
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 導師工作區" href="{% static "images/portfolio/recent/02.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/03.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥 法事工作區
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 法事工作區" href="{% static "images/portfolio/recent/03.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/04.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥 打坐修習區之一
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 打坐修習區 靜氣養生匾" href="{% static "images/portfolio/recent/04.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/05.jpg" %}" alt="">
                                                <h5>
                                                 靈軒啥 打坐修習區之二   
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 打坐修習區 全景" href="{% static "images/portfolio/recent/05.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/06.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥 打坐修習區之三
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥　打坐修習區 悟釋匾" href="{% static "images/portfolio/recent/06.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/07.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥 法壇之一
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 法壇 仰視" href="{% static "images/portfolio/recent/07.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/08.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥　法壇之二
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 法壇 側面" href="{% static "images/portfolio/recent/08.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/09.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥 法壇之三
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 法壇 菩薩低眉" href="{% static "images/portfolio/recent/09.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/10.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥 靈道匾
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 靈道匾" href="{% static "images/portfolio/recent/10.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/11.jpg" %}" alt="">
                                                <h5>
                                                    靈軒啥 靜氣養生匾
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 靜氣養生匾" href="{% static "images/portfolio/recent/11.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/12.jpg" %}" alt="">
                                                <h5>
                                                     靈軒啥 悟釋匾
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="靈軒啥 悟釋匾" href="{% static "images/portfolio/recent/12.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->

 {% endblock %}
